<?xml version='1.0' encoding='utf-8'?>
<widget id="com.opmsrms.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Opol Public Market App</name>
    <description>Occupants app for Opol Public Market</description>
    <author email="dev@opmsrms.com" href="https://opmsrms.com">
        OPM SRMS Dev Team
    </author>
    <content src="/" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#03263F" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0xffDDF4FF"/>

    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi.png"/>
        <icon density="mdpi" src="res/icon/android/mdpi.png"/>
        <icon density="hdpi" src="res/icon/android/hdpi.png"/>
        <icon density="xhdpi" src="res/icon/android/xhdpi.png"/>
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png"/>
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png"/>

        <preference name="orientation" value="portrait" />
    </platform>
</widget>
